<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<aop:config>
		<aop:pointcut id="helloWorldPointcut"
			expression="execution(* net.lshimokawa.ejemplos.springaop.*.*(..))" />
		<aop:aspect ref="helloWorldAspectBean">
			<aop:after-returning method="interceptar"
				returning="saludo" pointcut-ref="helloWorldPointcut" />
		</aop:aspect>
	</aop:config>
	<bean id="helloWorldAspectBean" class="net.lshimokawa.ejemplos.springaop.HelloWorldAspect" />
	<bean id="helloWorld" class="net.lshimokawa.ejemplos.springaop.HelloWorldImpl" />

</beans>
